<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			<p>About me:</p>
		</h2>
	</header>
	<p>
		I'm a bass player living in the Pacific Northwest.<br />
		<br />
		I enjoy music, technology, and gaming.<br />
		<br />
		Hi! 🖖<br />
	</p>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
</section>
