---
import full_1 from '../assets/fulls/01.jpg';
import full_2 from '../assets/fulls/02.jpg';
import full_3 from '../assets/fulls/03.jpg';
import full_4 from '../assets/fulls/04.jpg';
import full_5 from '../assets/fulls/05.jpg';
import full_6 from '../assets/fulls/06.jpg';

import th_1 from '../assets/thumbs/01.jpg';
import th_2 from '../assets/thumbs/02.jpg';
import th_3 from '../assets/thumbs/03.jpg';
import th_4 from '../assets/thumbs/04.jpg';
import th_5 from '../assets/thumbs/05.jpg';
import th_6 from '../assets/thumbs/06.jpg';
import { Icon } from 'astro-icon/components'
---

<!-- Two -->
<section id="two">
	<h2>Things I Like:</h2>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
			<Icon name="mdi:music" class="big-icon" />
			<h3>All the music!</h3>
			<p>Find me on last.fm <a href="https://last.fm/user/lysdestic">here.</a></p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<Icon name="simple-icons:opensuse" class="big-icon" />
			<h3>/dev/null</h3>
			<p>Avid linux user (preferably openSUSE) since 2003!</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<Icon name="mdi:microsoft-xbox-controller" class="big-icon" />
			<h3>Video Games</h3>
			<p>I've been playing (and breaking) video games about as long as I've been able to hold a controller.</p>
		</article>
		<article class="col-6 col-12-xsmall work-item">
			<Icon name="mdi:music-clef-bass" class="big-icon" />
			<h3>Bass player</h3>
			<p>Holding down the low-end for 20 years!</p>
		</article>
	</div>
	<!-- <ul class="actions">
		<li><a href="#" class="button">Full Portfolio</a></li>
	</ul> -->
</section>
